DB_HOST=<postgres_host>
DB_PORT=5432
DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=mypassword
DATABASE_URL=postgresql://myuser:mypassword@<postgres_host>:5432/mydatabase
IPPON_HOST=<ippon_board_ip>
IPPON_PORT=8080
OUR_HOST=<this_server_ip_as_seen_by_ippon_board>
APP_PORT=5001
