# SPDX-FileCopyrightText: 2026 TOP Team Combat Control
#
# SPDX-License-Identifier: GPL-3.0-or-later

fastapi
uvicorn
opencv-python-headless
pyzbar
pytesseract
pyserial
openpyxl
fpdf2
httpx
pytest
pyinstaller
pandas
xlrd
xlwt
xlutils